body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.screen {
  padding-top: 100px;
}

#menuScreen,
#gameCanvas,
#shopModal {
  display: none;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

canvas {
  background: #111;
  display: block;
  margin: 0 auto;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}

.modal-box {
  background: #111;
  padding: 25px;
  border-radius: 12px;
  width: 250px;
  margin: 200px auto;
}
