body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.screen {
  padding-top: 100px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

canvas {
  background: #111;
  display: block;
  margin: 0 auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #111;
  padding: 20px;
  border-radius: 10px;
}
